@font-face {
  font-family: "Trocchi";
  src: url("./Images/Trocchi.otf")
}

#myQuizzesHeader {
  text-align: center;
  font-family: "Trocchi";
}

#myQuizzes {
  text-align: center;
  font-family: "Trocchi";
}

#submitButton {
  font-family: "Trocchi";
}

#loading {
  text-align: center;
  font-family: "Trocchi";
}

#logoImg1 {
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
