@font-face {
  font-family: "Trocchi";
  src: url("./Images/Trocchi.otf")
}

#navMenu {
  color: #5780e6;
  text-align: center;
  font-family: "Trocchi";
  padding-top: 15px;
  font-size: 20px;
  background-color: #edbc62;
  height: 50px;
}

#profile-button {
  color: #5780e6;
  padding-left: 10px;
  padding-right: 10px;
}

#loginButton {
  color: #5780e6;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: underline;
}

#logout-button {
  color: #5780e6;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: underline;
}

#createquiz-button {
  color: #5780e6;
  padding-left: 10px;
  padding-right: 10px;
}

#qaleButton {
  color: #5780e6;
  padding-left: 10px;
  padding-right: 10px;
}
