@font-face {
  font-family: "Trocchi";
  src: url("./Images/Trocchi.otf")
}

#roundCat3 {
  font-size: 40px;
}

#presentQuestion {
  font-size: 80px;
}

#presentAnswers {
  font-size: 25px;
}

#presentationForm {
  text-align: center;
  font-family: "Trocchi";
}

#submitButton {
  font-family: "Trocchi";
}

#loading {
  text-align: center;
  font-family: "Trocchi";
}

#logoImg2 {
  height: 100px;
  display: block;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}
