@font-face {
  font-family: "Trocchi";
  src: url("./Images/Trocchi.otf")
}

#ReviewForm {
  font-family: "Trocchi";
  text-align: center;
}

#quizName2 {
  font-size: 60px;
}

#date2 {
  font-size: 40px;
}

#roundCat2 {
  font-size: 30px;
}

#submitButton {
  font-family: "Trocchi";
}

#loading {
  text-align: center;
  font-family: "Trocchi";
}

#logoImg3 {
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
