@font-face {
  font-family: "Trocchi";
  src: url("./Images/Trocchi.otf")
}

p {
  text-align: center;
  font-family: "Trocchi";
  font-size: 20px;
}

#roundCat {
  text-align: center;
  font-family: "Trocchi";
}

label {
  text-align: center;
  font-family: "Trocchi";
}

#roundCategory {
  font-family: "Trocchi";
}

#questionList {
  text-align: center;
  font-family: "Trocchi";
}

.question {
  font-family: "Trocchi";
}

.answer {
  font-family: "Trocchi";
}

#submitButton {
  font-family: "Trocchi";
  color: #edbc62;
  font-size: 14px;
  background-color: #5780e6;
  border-radius: 100%;
  padding: 20px;
  outline: 0;
}

#submitButton:hover {
  font-family: "Trocchi";
  color: #edbc62;
  font-size: 14px;
  background-color: #5780e6;
  border-radius: 100%;
  padding: 20px;
  outline: 0;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#logoImg1 {
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
