@font-face {
  font-family: "Trocchi";
  src: url("./Images/Trocchi.otf")
}

p {
  text-align: center;
  font-family: "Trocchi";
  font-size: 20px;
}

#roundCat {
  text-align: center;
  font-family: "Trocchi";
}

label {
  text-align: center;
  font-family: "Trocchi";
}

#roundCategory {
  font-family: "Trocchi";
}

#questionList {
  text-align: center;
  font-family: "Trocchi";
}

.question {
  font-family: "Trocchi";
}

.answer {
  font-family: "Trocchi";
}

#roundSubmit {
  font-family: "Trocchi";
}

#logoImg1 {
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
